.App, .App::before, .App::after{
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
}

.App {
  text-align: center;
  background: url("./bg-map.png") #22313F;
  height: 100%;
  z-index: -2;
}

.page-header{
  color: #E4F1FE;
}
.control-label{
  color: #E4F1FE;
}
.button-app{
  background-color: #013243;
}
